@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins' , sans-serif;
    font-size: 1em;
}
body{
    background: black;
}


.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: gray;
    width: 100%;
    height: 80px;

}
.nav ul{
    display: flex;
    gap: 10px;
    margin-left: 10px;
}
.nav ul li{
    list-style: none;
}
.nav ul li a{
    text-decoration: none;
    color: white;
}
.nav ul li a:hover{
    text-decoration: underline;
}
.nav-list{
    display: flex;
}
.about{
    margin-right: 10px;
}